.btn-contador{
    background-color: #f93853;
    border: none;
    color: #ffffff;
    float: left;
    font-size: 1.7rem;
    padding: 0.5rem 6.1rem;
    transition: all ease-in-out .3s;
}

.btn-contador:hover{
	background-color: #d8142e;
	color: #ffffff;
	text-decoration: none;
}

.cont-contador{
	background: linear-gradient(7deg, #a4b2bd, #eef2f3);
    bottom: 0;
    display: block;
    left: 0;
    padding: 1.5rem 0;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 5;
}

/*Scroll Down Desktop*/
.cont-contador-relative{
	position: relative;
	text-align: center;
}

.cont-cta{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 23.5rem;
}

.cont-titulo{
    color: #f93852;
    display: inline-block;
    font-size: 2.2rem;
    margin: 1.2rem 0 0 1.5rem;
    padding: .2rem;
    vertical-align: top;
    width: 14.5rem;
}

#clockdiv{
	color: #424242;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.6rem;
    font-weight: 100;
    margin: 0 .7%;
    text-align: center;
    width: 24rem;
}

#clockdiv > div{
	background: #4c4c4c;
	border-radius: 4px;
	display: inline-block;
	padding: 4px 4px 3px 4px;
    margin: 0 0.5%
}

#clockdiv div > span{
	background: #ffffff;
	border-radius: 3px;
	display: inline-block;
	padding: .5rem 1.2rem;
}

.days{
	padding: .5rem 1.6rem !important;
}

.smalltext{
	padding-top: 3px;
    color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: .7px;
}

.text-dto{
	color: #5d5d5d;
    float: left;
    font-size: 1.6rem;
}

.text-dto strong{
	color: #f93853;
	font-size: 1.8rem;
}

.titulo-cont{
	background-color: #ffffff;
    font-weight: bold;
    padding: .7rem 2.5rem;
}

/*Tablet*/
@media (max-width: 959px){
	.cont-titulo{
		display: block;
		margin: 0 0 .7rem 1.3rem;
		text-align: center;
		width: 22.5rem;
		font-size: 2rem;
	}

	/*Scroll Down*/
	.cont-titulo-responsive{
		display: inline-block;
	    vertical-align: top;
	    font-size: 2.2rem;
	    margin: 1.2rem 0 0 0;
	}

	#clockdiv{
		margin: 0 0 0 .7%;
	}

	.btn-contador{
		padding: 0.5rem 5rem;
	}

	.cont-cta{
	    width: 22rem;
	}

	.text-dto {
	    font-size: 1.4rem;
	}

	.titulo-cont {
	    padding: .5rem 6.7rem;
	}

}

/*Mobil*/
@media (max-width: 768px){
	.cont-contador{
		position: relative;
	}

	#clockdiv{
		width: 100%;
	    margin: 0;
	}

	.btn-contador{
		float: none;
	    margin: 1rem 0;
	    padding: 1rem 27%;
	}

	.cont-titulo{
	    margin: 1rem 0 1.5rem 0;
	    text-align: center;
	    width: 100%;
	}

	.cont-cta{
	    margin-top: .7rem;
	    text-align: center;
	    width: 100%;
	}

	.text-dto{
		width: 100%;
	    font-size: 1.8rem;
	}

	.titulo-cont {
	    padding: 0.7rem 22%;
	}
}

/* Portrait IPAD PRO EN VERTICAL*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

	.cont-contador{
	background: linear-gradient(7deg, #a4b2bd, #eef2f3);
    bottom: 0;
    display: block;
    left: 0;
    padding: 1.5rem 0;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 5;
}

}

